@using LabEquip.Models;
@model Equipamento;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/labequip.css" />
    <title>Detalhe do Equipamento</title>
</head>
<body>
    <h1>Detalhe do Equipamento</h1>

    <div class="links">
        <p>🏠 <a href="/Equipamento/Index">Voltar à Lista</a></p>
    </div>

    <table>
        <tr>
            <td><strong>Guid:</strong></td>
            <td>@Model.guidEquipamento</td>
        </tr>
        <tr>
            <td><strong>Designação:</strong></td>
            <td>@Model.designacao</td>
        </tr>
        <tr>
            <td><strong>Descrição:</strong></td>
            <td>@Model.descricao</td>
        </tr>
        <tr>
            <td><strong>Localização:</strong></td>
            <td>@Model.localizacao</td>
        </tr>
        <tr>
            <td><strong>Número de Série:</strong></td>
            <td>@Model.numeroSerie</td>
        </tr>
        <tr>
            <td><strong>Fabricante:</strong></td>
            <td>@Model.fabricante</td>
        </tr>
        <tr>
            <td><strong>Modelo:</strong></td>
            <td>@Model.modelo</td>
        </tr>
        <tr>
            <td><strong>Data de Aquisição:</strong></td>
            <td>@Model.dataAquisicao.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td><strong>Estado:</strong></td>
            <td>
                @(Model.estado == Equipamento.EstadoEquipamento.Disponivel ? "Disponível" :
                    Model.estado == Equipamento.EstadoEquipamento.EmUso ? "Em Uso" :
                    Model.estado == Equipamento.EstadoEquipamento.Manutencao ? "Manutenção" : "Inativo")
            </td>
        </tr>
        <tr>
            <td><strong>Data de Registo:</strong></td>
            <td>@Model.dthrRegisto.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    </table>
</body>
</html>