@using LabEquip.Models;
@model Equipamento;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <h1>Editar Equipamento</h1>
    <form method="post" action="/equipamento/editar">
        <input type="hidden" name="id" value="@Model.GuidEquipamento" />
        <table>
            <tr>
                <td><label>Designação:</label></td>
                <td><input type="text" name="designacao" value="@Model.Designacao" required /></td>
            </tr>
            <tr>
                <td><label>Descrição:</label></td>
                <td><input type="text" name="descricao" value="@Model.Descricao" /></td>
            </tr>
            <tr>
                <td><label>Localização:</label></td>
                <td><input type="text" name="localizacao" value="@Model.Localizacao" /></td>
            </tr>
            <tr>
                <td><label>Número de Série:</label></td>
                <td><input type="text" name="numeroSerie" value="@Model.NumeroSerie" /></td>
            </tr>
            <tr>
                <td><label>Fabricante:</label></td>
                <td><input type="text" name="fabricante" value="@Model.Fabricante" /></td>
            </tr>
            <tr>
                <td><label>Modelo:</label></td>
                <td><input type="text" name="modelo" value="@Model.Modelo" /></td>
            </tr>
            <tr>
                <td><label>Data de Aquisição:</label></td>
                <td><input type="date" name="dataAquisicao" value="@Model.DataAquisicao.ToString("yyyy-MM-dd")" /></td>
            </tr>
            <tr>
                <td>
                    <label>Estado:</label>
                </td>
                <td>
                    <select name="estado">
                        <option value="0" @(Model.Estado == Equipamento.EstadoEquipamento.Disponivel ? " selected " : "")>Disponível</option>
                        <option value="1" @(Model.Estado == Equipamento.EstadoEquipamento.EmUso ? " selected " : "")>Em Uso</option>
                        <option value="2" @(Model.Estado == Equipamento.EstadoEquipamento.Manutencao ? " selected " : "")>Manutenção</option>
                        <option value="3" @(Model.Estado == Equipamento.EstadoEquipamento.Inativo ? " selected " : "")>Inativo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Atualizar</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>