@using LabEquip.Models;
@model Equipamento;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/labequip.css" />
    <title>Editar Equipamento</title>
</head>
<body>
    <h1>Editar Equipamento</h1>

    <div class="links">
        <p>🏠 <a href="/Equipamento/Index">Voltar à Lista</a></p>
    </div>

    <form method="post" action="/Equipamento/Editar">
        <input type="hidden" name="id" value="@Model.guidEquipamento" />
        <table>
            <tr>
                <td><label>Designação:</label></td>
                <td><input type="text" name="designacao" value="@Model.designacao" required /></td>
            </tr>
            <tr>
                <td><label>Descrição:</label></td>
                <td><input type="text" name="descricao" value="@Model.descricao" /></td>
            </tr>
            <tr>
                <td><label>Localização:</label></td>
                <td><input type="text" name="localizacao" value="@Model.localizacao" /></td>
            </tr>
            <tr>
                <td><label>Número de Série:</label></td>
                <td><input type="text" name="numeroSerie" value="@Model.numeroSerie" /></td>
            </tr>
            <tr>
                <td><label>Fabricante:</label></td>
                <td><input type="text" name="fabricante" value="@Model.fabricante" /></td>
            </tr>
            <tr>
                <td><label>Modelo:</label></td>
                <td><input type="text" name="modelo" value="@Model.modelo" /></td>
            </tr>
            <tr>
                <td><label>Data de Aquisição:</label></td>
                <td><input type="date" name="dataAquisicao" value="@Model.dataAquisicao.ToString("yyyy-MM-dd")" /></td>
            </tr>
            <tr>
                <td>
                    <label>Estado:</label>
                </td>
                <td>
                    <select name="estado">
                        <option value="0" @(Model.estado == Equipamento.EstadoEquipamento.Disponivel ? " selected " : "")>Disponível</option>
                        <option value="1" @(Model.estado == Equipamento.EstadoEquipamento.EmUso ? " selected " : "")>Em Uso</option>
                        <option value="2" @(Model.estado == Equipamento.EstadoEquipamento.Manutencao ? " selected " : "")>Manutenção</option>
                        <option value="3" @(Model.estado == Equipamento.EstadoEquipamento.Inativo ? " selected " : "")>Inativo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Atualizar</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>